nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    display: inline;
  }
  
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  .map-container {
    height: 400px;
    margin-bottom: 20px;
  }
  