/* General Body Styling */
body {
    background-color: #1e1e1e;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Paper Container */
.paper {
    /* background-color: #2c2c2c;  */
    padding: 2rem; /* General padding inside the paper */
    margin: 0 auto;
    max-width: 98%;
    box-sizing: border-box;
    padding-top: 90px; /* Add enough top padding to compensate for the fixed header */
  }
  
  
  /* Headings */
  h1, h2, h3 {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  
  /* Map Section */
  .map-section {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
  
  .map-section:hover {
    transform: scale(1.02);
  }
  
  /* Stats Section */
  .stats-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top:2%;
  }
  
  /* Make stats responsive */
  @media (max-width: 900px) {
    .stats-section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .stats-section {
      grid-template-columns: 1fr;
    }
  }
  
  /* Individual Stats Item */
  .stats-item {
    /* background-color: #3c3c3c; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .stats-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }
  
  /* Stats Item Headings */
  .stats-item h3 {
    color: #e63946;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  
  /* Filter Section Styling */
.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3c3c3c;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .filter-item {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
  }
  
  .filter-item label {
    color: #f5f5f5;
    margin-bottom: 5px;
  }
  
  .filter-item input, .filter-item select {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #2c2c2c;
    color: #ffffff;
  }
  
  .filter-item input[type="date"] {
    width: 150px;
  }
  
  .filter-item select {
    width: 200px;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .search input {
    width: 200px;
    margin-right: 10px;
  }
  
  .search button {
    padding: 0.5rem 1rem;
    background-color: #f1c40f;
    color: #1e1e1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search button:hover {
    background-color: #e63946;
    color: #ffffff;
  }
  